<div class="footer">
    <div class="row">
        <div class="col-lg-4">
            <h1 routerLink="/home">C L <b>E</b> O</h1>
            <p>TU AUTO, TU ESTILO</p>
        </div>
        <div class="col-lg-5">
            <a routerLink="/productos">Productos</a>
            <a routerLink="/ofertas">Ofertas</a>
            <a routerLink="/nosotros">Nosotros</a>
            <a routerLink="/contacto">Contacto</a>
        </div>
        <div class="col-lg-2">
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
        </div>
    </div>
</div>