<div class="banner">
    <div class="content">
        <h1>NOSOTROS</h1>
    <p>
        ¡Bienvenido a CLEO!

Somos más que una concesionaria de autos; somos creadores de experiencias inolvidables sobre ruedas. 
Ofrecemos una variedad excepcional de vehículos de alta calidad, respaldados por tecnología innovadora.
 Nuestro compromiso es hacer que la compra de un automóvil sea sin estrés y convertirnos en tu socio
  automotriz de confianza. Queremos ser parte de tus momentos especiales, 
  guiándote en cada paso del camino y haciendo que cada viaje sea emocionante. 
  En CLEO, no solo vendemos autos, conducimos sueños. 
  Únete a nosotros en este emocionante viaje.
    </p>
    </div>
</div>